@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    max-width: 180rem;
    margin: auto;
}
img{
    max-width: 100%;
}

// ===================== CSS of main_box
.sb-main_box{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
}
.sb-sidebar_menu{
    position: relative;
    min-height: 100vh;
    width: 25rem;
    background-color: rgba( 255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba( 255, 255, 255, 0.5);
    padding-bottom: 4rem;
}
.sb-site_title{
    text-align: center;
    box-shadow: 0 0 6px rgba( 255, 255, 255, 0.5);
    a{
        width: 100%;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 3rem;
        text-decoration: none;
        padding: 1rem;
        display: inline-block;
    }
}
.sb-site_menu{
    width: 100%;

    ul{
        list-style: none;
        li{
            margin-top: 0.5rem;
            a{
                display: inline-block;
                width: 100%;
                padding: 1rem 1.3rem;
                text-decoration: none;
                color: #fff;
                font-size: 1.3rem;
                transition: all 0.2s ease;
                i{
                    padding-right: 0.5rem;
                }
            }
            a:hover{
                box-shadow: 0 0 4px rgba( 255, 255, 255, 0.5);
            }
        }
    }
}




.sb-social_media{
    position: absolute;
    left: 50%;
    bottom: 1.3rem;
    transform: translateX(-50%);
    font-size: 1.3rem;
    cursor: pointer;
    i{
        padding: 0 0.4rem;
        color: #fff;
        opacity: 0.6;
        transition: all 0.3s ease;
    }
    i:hover{
        opacity: 1;
    }
}



.sb-main_body{
    width: 100%;
}